@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: #e1dee2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main__header {
  background-color: blue;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__brand__text {
  color: white;
  font-size: 2rem;
  height: 5vh;
  margin-left: 4vw;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.main__brand__text p {
  height: 100%;
  font-family: "Pacifico", cursive;
  letter-spacing: 10px;
}

.main__brand__text-ff {
  display: none;
}

.main__nav {
  margin-left: 5vw;
}

.main__nav div {
  width: 45px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.main__banner-section {
  height: 70vh;
  background-image: url("/assets/images/pixelscedited.jpg");
  background-position: left 90% top 15%;
  background-repeat: no-repeat;
  /* color: #51e2f5; */
  color: #0049b7;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px groove #51e2f5;
}

.main__banner-section blockquote {
  height: auto;
  font-size: 2rem;
  line-height: 4rem;
  font-family: cursive;
  text-align: center;
  letter-spacing: 5px;
  /* transparent black color on top of the image */
  background-color: rgba(211, 211, 211, 0.5);
  padding-top: 5vh;
}


.intro-section {
  margin-top: 4vh;
  margin-bottom: 5vh;
  height: auto;
  background-color: #e6e3e6;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.intro-section__div-1>p:nth-child(1) {
  font-size: 3.7rem;
  font-weight: 700;
  color: #fb3e5d;
  font-family: cursive;
  margin-bottom: 3vh;
}

.intro-section__div-1>p:nth-child(2) {
  font-size: 2.5rem;
  color: #e85086;
  margin-top: 1vh;
  margin-bottom: 3vh;
  line-height: 3rem;
  font-family: cursive;
}

.intro-section__div-1>p:nth-child(3) {
  font-size: 2rem;
  color: #9966cc;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: cursive;
  line-height: 2.5rem;
}

.intro-section__div-2>p:nth-child(1) {
  color: #0073cf;
  font-size: 1.6rem;
  font-family: cursive;
  word-spacing: 10px;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  font-weight: 500;
}

.intro-section__div-2>p:nth-child(2) {
  color: #4962c4;
  font-size: 3rem;
  letter-spacing: 10px;
  font-family: cursive;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  font-weight: 400;
}

.intro-section__div-2>p:nth-child(3) {
  color: #003366;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: cursive;
  text-align: center;
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.portfolio-projects h1,
.portfolio-projects p {
  font-family: cursive;
}

.portfolio-projects p {
  font-size: 2rem;
}

.projects-list {
  background-color: white;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  height: 30vh;
  width: 90vw;
  border-radius: 20px;
  border-top-right-radius: none;
  border-top-left-radius: none;
}

.projects-list-img {
  display: block;
  margin: auto;
  margin-top: 1vh;
  width: 97%;
  height: 75%;
  background-color: grey;
  border-radius: 10px;
}

.projects-list h3 {
  margin-top: 1.5vh;
  font-family: cursive;
}

.skills {
  margin-top: 6vh;
  margin-bottom: 7vh;
}

.skills>h1 {
  font-family: cursive;
  width: 99%;
  border-bottom: 3px solid black;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}

.skills>h1>span {
  font-size: 1.5rem;
}

.skills__ul {
  display: flex;
  flex-direction: column;
}

.skills__ul li {
  height: 20vh;
  background-color: white;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  margin-top: 3vh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.skills__ul li img {
  height: 80%;
}

.skills__ul li p {
  font-family: cursive;
  font-size: 2rem;
  width: 50vw;
  text-align: center;
}

.quote {
  border-top: 3px solid black;
  width: 100vw;
  margin-bottom: 5vh;
}

.quote>h1 {
  font-family: cursive;
  text-align: center;
}

.quote-p {
  background-image: url("/assets/images/pixels-universe.jpg");
  background-attachment: fixed;
  background-position: left 50% top 0;
  height: 90%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-p>p {
  color: white;
  font-family: cursive;
  line-height: 2.5rem;
  font-size: 1.5rem;
  width: 95%;
}

.main__footer {
  height: 7vh;
  background-color: #9966cc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__footer a {
  color: white;
  font-family: cursive;
  text-decoration: underline wavy white;
}


@media (min-width: 440px) {
  .main__brand__text-sf {
    display: none;
  }

  .main__brand__text-ff {
    display: initial;
  }

  .quote-p>p {
    line-height: 4rem;
  }

  .main__banner-section {
    background-image: url("/assets/images/pixels-img-1.jpg");
    background-position: center center;
    background-size: 100% 90vh;
    height: 90vh;
  }

  .main__banner-section blockquote {
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
    height: auto;
    padding: 1rem;
  }

}